<?xml version="1.0"?>
<!-- 
    Nota: en lugar de editar manualmente este archivo, puede usar la 
      herramienta Administración de sitios web para configurar las opciones de su aplicación. Use
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará la lista completa de opciones y comentarios en 
    machine.config.comments ubicado normalmente en 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="FerozoNewsReader.newsreader" value="http://news.ilimek.com.ar/newsreader.asmx" />
  </appSettings>
  <connectionStrings>
    <add name="cnnDatabase_App_Data" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NewsReader.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="cnnDatabase_Att" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NewsReader.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="cnnDatabase_" connectionString="data source=.;initial catalog=v0011129_reader_news;User Id=v0011129_reader_news;Password=ReaderNews99;" providerName="System.Data.SqlClient" />
    <add name="cnnDatabase" connectionString="Data Source=MYEQ-PC;Initial Catalog=v0011129_reader_news;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
    
    durante la depuración.
    
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
          La sección <authentication> habilita la configuración 
          del modo de autenticación de seguridad que usa 
          ASP.NET para identificar a un usuario entrante. 
        -->
    <!--
		<authentication mode="Windows"/>
	
           La sección <customErrors> habilita la configuración de 
           las acciones que se deben realizar si un error no controlado tiene lugar
           durante la ejecución de una solicitud. En concreto, 
           permite a los desarrolladores configurar páginas de error html 
           que se mostrarán en lugar de un seguimiento de pila de errores.

    
        -->
    <customErrors mode="Off">
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <rewrite>
      <rules>
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <remove name="shop.ilimek.com.ar" />
        <rule name="shop.ilimek.com.ar" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?shop.ilimek.com.ar(.*)" />
            <add input="{PATH_INFO}" pattern="^/shop/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\shop\{R:0}" redirectType="Permanent" />
        </rule>
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <remove name="news.ilimek.com.ar" />
        <rule name="news.ilimek.com.ar" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?news.ilimek.com.ar(.*)" />
            <add input="{PATH_INFO}" pattern="^/news/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\news\{R:0}" redirectType="Permanent" />
        </rule>
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <remove name="wsfe.ilimek.com.ar" />
        <rule name="wsfe.ilimek.com.ar" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?wsfe.ilimek.com.ar(.*)" />
            <add input="{PATH_INFO}" pattern="^/wsfe/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\wsfe\{R:0}" redirectType="Permanent" />
        </rule>
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
      </rules>
    </rewrite>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>