<!DOCTYPE HTML>
<html>
  <head>
 <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
 	
    <script src="../../js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="../../js/underscore-1.7.0.min.js" type="text/javascript"></script>
    <script src="../../js/backbone-1.1.2.min.js" type="text/javascript"></script>
    <script src="../../js/lib1.2/iscroll-lite.js" type="text/javascript"></script>
    
    <script src="../../js/lib1.2/PanelMessage.js" type="text/javascript"></script>
    <script src="../../js/lib1.2/PanelConfig.js" type="text/javascript"></script>
    <script src="../../js/lib1.2/PanelView.js" type="text/javascript"></script>
    <script src="../../js/lib1.2/AjaxCaller.js" type="text/javascript"></script>
    
    

    <script src="../../js.lib/jsSHA/sha1.js" type="text/javascript"></script>
    <script src="../../js.lib/oauth/sha1.js" type="text/javascript"></script>
    <script src="../../js.lib/oauth/oauth.js" type="text/javascript"></script>
    <script src="../../js.lib/oauth/md5.js" type="text/javascript"></script>
    
    <script src="flickr/app.config.js" type="text/javascript"></script>
    <script src="flickr/flickr.apicall.js" type="text/javascript"></script>
    <script src="flickr/flickr.caller.js" type="text/javascript"></script>
    
    <script src="views/1_Authentication.js" type="text/javascript"></script>
    
    
    
    
    
    
	<link rel="stylesheet"  href="../empty_html/styles/empty.css" />
	<link rel="stylesheet"  href="../assets/styles/global.css" />	
	<link rel="stylesheet"  href="../panel/styles/panel.css" />
	<link rel="stylesheet"  href="../assets/styles/buttons.css" />
 
    <script type="text/javascript">
        $(document).ready(function() {
            var vPanel = new AuthenticationView({
                                el: $("#PagePanel"),
                                template: "AuthenticationTemplate",
                                parameters: [{ url: flickr.miniTokenUrl}]
                            });
        });
    </script>
 
 
</head>
	<body> 
 
	   <div id="MessagePanel" style="position:absolute;top:0;width:100%;"></div> 
		<div id="Page" class="pagePanel">
            <div id="PageMenu" class="pageMenu">
                <a class="vItemMenu home" href="../../index.html"></a>
                <a class="vItemMenu table" href="#"></a>
                <a class="clear"></a>
            </div>
	        <div id="wrapper" class="pageContent" >
				    <div id="PagePanel">&nbsp;</div>		
			        <div id="FlickrResponse" class="logText">&nbsp;</div>			    

<h2>1. AuthenticationView Instance</h2>
<pre>
<code>
    $(document).ready(function() {
        var vPanel = new AuthenticationView({
                                    el: $("#PagePanel"),
                                    template: "AuthenticationTemplate",
                                    parameters: [{ url: flickr.miniTokenUrl}]
                    });
    });
</code>
</pre>
<h2>2. View Template</h2>
<pre>
<code>
    &lt;input id="flickr_authorize"  onclick="window.open('&lt;%=url%&gt;','','')";  data-url="&lt;%=url%&gt;" 
        id="OpenPanel"  class="button red large" type="button" value="Agregar Contenido Ajax en un panel"/&gt;
        &lt;div id="AuthenticationCode"  style="display:none;"&gt;
            &lt;h1 id="aplicationCodeTitle"&gt;Obtener token&lt;/h1&gt;
            &lt;div style="background-color:#fafafa;padding:3px;"&gt;  
	            &lt;input type="number" id="miniToken-1" maxlength="3" size="3" class="minitoken" /&gt; 
	            &lt;input type="number" id="miniToken-2" maxlength="3" size="3" class="minitoken" /&gt;
	            &lt;input type="number" id="miniToken-3" maxlength="3" size="3" class="minitoken" /&gt;
	            &lt;br&gt;
	            &lt;input id="btnGetToken"  class="button green" style="text-align:center;"  value="Aceptar"/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
</code>
</pre>

<h2>3. Controler</h2>
<pre>
<code>
    AuthenticationView = Backbone.View.extend({
        url: '',
        initialize: function(options) {
            this.options = options || {};
            this.el = this.options.el;
            this.url = this.options.parameters[0].url;
            this.render();
        },
        render: function() {
            try {
                this.refreshView();
                return this;
            } catch (err) {
                console.log("View: " + err.message);
            }
        },
        events: {
            "click #flickr_authorize": "click_authorize",
            "click #btnGetToken": "click_getToken"
        }, click_getToken: function(e) {

            var miniToken = $("#miniToken-1").val() + "-" + $("#miniToken-2").val() + "-" + $("#miniToken-3").val();
            var p = new ApiCall();
                p.setMethod("flickr.auth.getFullToken");
                p.addParameter("mini_token", miniToken);
                p.setCallbackName("saveToken");
                p.call();

            e.preventDefault();
        },
        click_authorize: function(e) {
            $("#AuthenticationCode").show();
            $(e.currentTarget).hide();
            e.preventDefault();
        },
        refreshView: function() {
            var template = _.template($("#" + this.options.template).html());
            this.$el.append(template({ ParentID: this.options.ParentID, url: this.url }));

        }
    });
</code>
</pre>


<h2>4. Callback Function </h2>
<pre>
<code>
    function saveToken(rsp) {
        if (rsp.stat != "ok") {
            var r="SaveToken Stat: "+  + rsp.stat + ' - ' + rsp.code + ' - ' + rsp.message+"";
            $("#FlickrResponse").html(r);
        } else {

        var r="SaveToken auth.token: "+  rsp.auth.token._content+"";
                r = r + "auth.perms._content" + "";
                r = r + "nsid: " + rsp.auth.user.nsid + "";
                r = r +"username: "+rsp.auth.user.username+"";
                $("#FlickrResponse").html(r);
        }

    }
    
</code>
</pre>    


	        </div>
	        
        </div>
        
		<div id="AuthenticationPanel"></div>
		
        
        <div id="AjaxSpin" class="loading">
            <h1>
                <span id="AjaxAbort" class="pageCloseItem"></span>
             </h1>
        </div>
		
		 <script type="text/x-underscore-template" id="PanelTemplate">
            <div id="<%=this.cid%>" class="pageOver">
                <h1 class="pageTitle">
                    <span class="pageTitleContent"><%= title %></span>&nbsp;
                    <span id="<%=this.cid%>_Menu"  data-id="<%=this.cid%>"  class="pageMenuItem"></span>
                    <span id="<%=this.cid%>_Close"  data-id="<%=this.cid%>"  class="pageCloseItem"></span>
                </h1>
                <div id="<%=this.cid%>_MenuContent" class="panelMenu"></div>
                <div id="<%=this.cid%>_Content" class="pageOverContent"></div>
            </div>
        </script> 	



        <script type="text/x-underscore-template" id="AuthenticationTemplate">
            <input id="flickr_authorize"  onclick="window.open('<%=url%>','','')";  data-url="<%=url%>" id="OpenPanel"  class="button red large" type="button" value="Agregar Contenido Ajax en un panel"/>
            <div id="AuthenticationCode"  style="display:none;">
                <h1 id="aplicationCodeTitle">Obtener token</h1>
		        <div style="background-color:#fafafa;padding:3px;">  
			        <input type="number" id="miniToken-1" maxlength="3" size="3" class="minitoken" /> 
			        <input type="number" id="miniToken-2" maxlength="3" size="3" class="minitoken" />
			        <input type="number" id="miniToken-3" maxlength="3" size="3" class="minitoken" />
			        <br>
			        <input id="btnGetToken"  class="button green" style="text-align:center;"  value="Aceptar"/>
	            </div>
            </div>
        </script> 


			
		  
	</body>
</html>